/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 de abr de 2020, 10:44:31
    Author     : proto
*/

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        opacity: 0.9;
        height: 100%;
        z-index: 9999;
        background: url('../gifs/15.gif') center no-repeat #000;
}    